<h1 class="text text-warning mb-2">King Store</h1>
<div class="card-group text-center">
 <div class="row">
  {{#each mobiles }}
   <div class="card col-md-2 m-3">
    <img src="{{image}}" alt="" class="card-img-top mt-3" width="180" height="180">
    <div class="card-body">
     <h4 class="card-title text-success">
      {{name}}
     </h4>
     <h3 class="card-title text-danger">{{price}}</h3>
     <p class="fw-bold card-text text-primary">{{brand}}</p>
     <p class=""></p>
     <form action="/order" method="post">
      <input type="hidden" name="id" value="{{_id}}">
      <input type="hidden" name="price" value="{{price}}">
      <input class="form-control mb-3" type="number" name="orderQuantity" min="1" max="{{quantity}}">
      <input type="submit" class="btn btn-warning" value="Order">
     </form>
    </div>
   </div>
  {{/each}}
 </div>
</div>