<div class="row">
 <div class="row">
  <h1>Mobile order confirmation</h1>
 </div>
 <div class="row">
  <table class="table table-bordered text-center">
   <tr>
    <th colspan="2">
     <img src="{{mobile.image}}" alt="" width="300" height="300">
    </th>
   </tr>
   <tr>
    <th>Mobile name</th>
    <th>{{mobile.name}}</th>
   </tr>
   <tr>
    <th>Mobile price</th>
    <th>${{mobile.price}}</th>
   </tr>
   <tr>
    <th>Order quantity</th>
    <th>{{orderQuantity}}</th>
   </tr>
   <tr>
    <th>Total price</th>
    <th>${{total_price}}</th>
   </tr>
   <tr class="text-center">
    <th colspan="2">
     <a href="/confirm" class="btn btn-danger">Confirm</a>
    </th>
   </tr>
  </table>
 </div>
</div>